@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=IBM+Plex+Serif:wght@400&display=swap');
:root{
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;
}


#avatar {
  border-radius: 100%;
  width: 20%;
  margin-top: 2%;
}

hr {
  border-top: 1px solid;
  max-width: 50%;
  opacity: 50%;
}

nav {
  display: flex;
  flex-flow: row;
  justify-content:center;
  gap:10px;
  font-weight: bold;
}

body {
  font-family: 'Fira Code', monospace;
  font-family: 'IBM Plex Serif', serif;
  color:var(--base00);
  background-color:var(--base3);
  margin: auto;
  max-width: 60%;
  font-size:normal;
  line-height: 2;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color:var(--blue);
}

h1,h2,h3,h4,h5,h6 {
  color:var(--green);
}

ul {
  list-style-position: outside;
  list-style-type:disc;
}


@media (prefers-color-scheme: dark) {
  body {
    color:var(--base00);
    background-color: var(--base03);
  }
}

@media (max-width: 600px) {
  body {
    max-width: 100%;
    font-size:normal;
  }
}